<div class="root">
  <div class="settings">
    <label>
      <select>
        <option>

        </option>
      </select>
    </label>

    <label>
      Use physics
      <input #usePhysics (change)="this.networkSettingsSource.next({physics: {enabled: usePhysics.checked}})"
             type="checkbox">
    </label>

    <label>
      Use hierarchical
      <input #useHierarchical
             (change)="this.networkSettingsSource.next({layout: {hierarchical: {enabled: useHierarchical.checked, sortMethod: 'directed'}}})"
             type="checkbox">
    </label>
  </div>
  <div #selector class="selector">
    <button (click)="resetSource.next()">Clear</button>
    <button
      (click)="selectGraphSet(graphSet)"
      *ngFor="let graphSet of graphsById$ | async"
      [class.active]="((currentGraphsSet$ | async) || [])[0]?.traceId === graphSet.traceId">{{graphSet.graphs[0].name}}
      ({{graphSet.graphs.length}})
    </button>
  </div>
  <hr [target]="selector" appResizeable/>
  <div #time class="time">

    <button (click)="currentGraphSource.next(graph)"
            *ngFor="let graph of currentGraphsSet$ | async"
            [class.active]="(currentGraph$ | async)?.time === graph.time">{{graph.time}}</button>
  </div>
  <hr [target]="time" appResizeable/>
  <ng-container *ngIf="currentGraph$ | async as currentGraph">
    <div #overview class="overview">
      {{ {lastValue: getLastValue(currentGraph.graph)} | json }}
    </div>
    <hr [target]="overview" appResizeable/>
  </ng-container>
  <div #container class="container">
  </div>
</div>
