<div class="root">
  <div #selector class="selector">
    <button (click)="resetSource.next()">Clear</button>
    <button (click)="currentGraphsSetSource.next(graphSet.graphs)"
            *ngFor="let graphSet of graphsById$ | async">{{graphSet.graphs[0].name}}</button>
  </div>
  <hr [target]="selector" appResizeable/>
  <div #time class="time">

    <button (click)="currentGraphSource.next(graph)"
            *ngFor="let graph of currentGraphsSet$ | async">{{graph.time}}</button>
  </div>
  <hr [target]="time" appResizeable/>
  <ng-container *ngIf="currentGraph$ | async as currentGraph">
    <div #overview class="overview">
      {{ {lastValue: getLastValue(currentGraph.graph)} | json }}
    </div>
    <hr [target]="overview" appResizeable/>
  </ng-container>
  <div #container class="container">
  </div>
</div>
